*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding-bottom: 100px;
}
header{
    background-color: black;
    padding: 20px 0px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
#sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation ul{
    display: flex;
    gap: 45px;
}

#navigation ul li{
    list-style-type: none;
}

#navigation ul li a{
    color: #a7a7a7;
    text-decoration: none;
    font-weight: 300;
}

#introduction-background-section{
    height: 500px;
    background-image: url("../images/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
#introduction-sub-section{
    display: flex;
    justify-content: space-between;
    color: white;
}
#introduction-first-section{
    flex-basis: 45%;
}
#introduction-first-section img{
    margin-bottom: 20px;
}
#introduction-first-section h2{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
}
#introduction-first-section hr{
    width: 15%;
    margin-bottom: 20px;
    height: 2px;
    background-color: white;
}
#introduction-first-section p{
    margin-bottom: 25px;
    color: #a7a7a7;
}
#introduction-first-section button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 20px;
    font-size: 14px;
}
#introduction-first-section button:hover{
    cursor: pointer;
}
#social-section{
    border-bottom: 1px solid #b7b7b7;
}
#sub-social-section{
    display:flex;
    justify-content: space-between;
    padding: 20px 0px;
}
#sub-social-section p{
 color: #a7a7a7;
 margin-top: 10px;
}
#sub-social-section-second-item{
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
#sub-social-section-second-item img{
    width: 100%;
}